################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/XL/FileContentIndex/ce6d02fc-30f3-4124-a1e7-bf5ac1e3ae32.vsidx
/.vs/XL/FileContentIndex/e7537539-3a41-4740-8e2d-0d6fd209ad66.vsidx
