################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/XL/FileContentIndex/ce6d02fc-30f3-4124-a1e7-bf5ac1e3ae32.vsidx
/.vs/XL/FileContentIndex/e7537539-3a41-4740-8e2d-0d6fd209ad66.vsidx
/.vs/XL/FileContentIndex/126a5d3d-df0e-4c96-ac99-d4134863e724.vsidx
/.vs/XL/FileContentIndex/3edadc82-a0f7-41c7-aa2d-f0a0e49f758f.vsidx
/.vs/XL/FileContentIndex/867705d6-f4c1-403f-83a6-96ea91285c9c.vsidx
